<app-loading *ngIf="loading"></app-loading>
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-2">
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle" alt="">
    </div>
    <div class="col">
        <h3>{{ artista.name }}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
                Ir a la página del artista
            </a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger">Regresar</button>
    </div>
</div>
<div class="row m-5">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Canción</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of topTracks; let i = index">
                    <td>
                        <img [src]="item.album.images | noimage" class="img-thumb" alt="">
                    </td>
                    <td>{{ item.album.name }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <!--<audio *ngIf="item.preview_url" [src]="item.preview_url" controls></audio>-->
                        <iframe [src]="item.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>